/*id's*/


#student-page{
    background-image: url("/img/student-background.jpg");
    background-size: 100%;
    background-position: top;
}

#admin-page{
    background-image: url("/img/admin-background.jpg");
    background-size: 100%;
    background-position: top;
}

#login-page{
    background-image: url("/img/college-background.jpg");
    background-size: 100%;
    background-position: top;
}

#register-page{
    background-image: url("/img/college-logo-background.jpg");
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 100%;
}


#instructor-page{
    background-image: url("/img/professor-background.jpg");
    background-size: 100%;
    background-position: top;
}

#class-page{
   background-image: url("/img/class-background.jpg");
   background-size: 100%;
   background-position: top;
}

#course-page{
    background-image: url("/img/course-background.jpg");
    background-size: 100%;
    background-position: top;
}

#search-icon{
    width: 30px;
    height: 30px;
    border-radius: 20px;
}

#logo-icon{
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

/*classes*/

.content-wrapper{
    background-color: rgba(1, 43, 81, 0.5);
    padding: 16px;
    border-radius: 5px;
    color: white;
}

.content-wrapper-g{
    background-color: rgba(255,215,0,0.7);
    padding: 16px;
    border-radius: 5px;
    color: black;
    border: 2px solid white;
}

.fading-in-animation{
    animation-name: fade-in;
    animation-duration: 0.6s;
}
.fading-out-animation{
    animation-name: fade-out;
    animation-duration: 0.6s;
}


.m1{
    margin: 200px 0 0 40px;
}

.m2{
    margin: 40px 0 0 40px;
}

/*animations*/


@keyframes fade-in {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 5;
    }
}

@keyframes fade-out {
    0%{
        opacity: 5;
    }
    100%{
        opacity: 0;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1,1);
    }
    75% {
        color: black;
        background-color: silver;
        font-weight: 300;
    }
    100% {
        transform: scale(1.1,1.1);
        color: black;
        background-color: silver;
        font-weight: 400;
    }
}

