<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org.thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Landing Page</title>
    <th:block th:replace="base :: csslinks"></th:block>
</head>
<body id="index-page">
    <div th:replace="base :: navbar"></div>
    <div class="container content-wrapper m4">
        <div class="app-section center">
            <div class="fade-in-1 content-wrapper">
                <h1>WELCOME TO</h1>
            </div>
        </div>
        <div class="app-section center">
            <div class="fade-in-2">
                <a href="/register"><img id="introduction-button" src="/img/dalton-intro-button.jpg" width="300" height="125"></a>
            </div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
</html>